<p>
  spur-gears works!
</p>

<div class="jumbotron">
	<div>
		<img src="assets/gifs/Mechanism2.gif" style="height: auto; max-width: 100%;">
	</div>
	<p>
		These were created in SolidWorks using the spur gears toolbox. I followed this tutorial <a href="https://www.youtube.com/watch?v=xey6WL873-E">Design of Spur gear with Solidworks toolbox</a> which made them very easy to produce. The color change of the larger gear wasn't intentional but I thought it looked cool so I kept it anyway.
	</p>
</div>