<div class="jumbotron">
	<img src="assets/gifs/Differential.gif" style="height: auto; max-width: 100%; min-width: 40%">
	<p>A differential gear is used in cars to allow the trasmission of power to two wheels on the same axle while allowing them to rotate at different speeds. This resolves the issue of slipping that would normally occur when a vehicle is turning caused by the wheels traveling at the same angular velocity but with different radii. These gears were created in SolidWorks using the power transmission toolbox.</p>
</div>