<div class="jumbotron">
	<img src="assets/gifs/Mechanism4.gif" style="height: auto; max-width: 100%;">
	<p>The Geneva drive or Maltese cross is a gear mechanism that translates a continuous rotation movement into intermittent rotary motion.

The rotating drive wheel is usually equipped with a pin that reaches into a slot located in the other wheel (driven wheel) that advances it by one step at a time. The main wheel also has an elevated circular blocking disc that "locks" the rotating driven wheel in position between steps.</p>
</div>