<p>
  parallel-to-serial works!
</p>
<div class="jumbotron">
	<a href="http://everycircuit.com/circuit/5329011973816320">Parallel to Serial Converter - EveryCircuit</a><br>
<iframe width="560" height="360" src="http://everycircuit.com/embed/5329011973816320" frameborder="0"></iframe>
	<p>4-bit parallel to serial converter. Let it send the first transmission and lock in the values. Then enter your Nibble of data with the switches and send the transmission by pressing the transmit push button. Note that there is only one data input and one clock signal to the D flip-flops.</p>
</div>
