  <div class="jumbotron">
    <div class="container">
        <div class="row">
          <div class="col-sm-8"><h1>Welcome</h1>
            <h2>RVA River Pirate</h2></div>
          <div class="col-sm-4"><img src="assets/images/Pirate-PNG-File.png" style="width:200px;height:200px;"></div>
       </div>
    </div>
  </div>
  <!--<div class="panel panel-primary">
    <div class="panel-heading">Status</div>
    <div class="panel-body">
      <h3>{{title}}</h3>
      <div class="progress">
        <div class="progress-bar" style="width: 60%;">
        </div>
      </div>
  </div>
    </div>-->
    <app-electronics-over-view></app-electronics-over-view>
    <mechanisms-overview></mechanisms-overview>
    <app-python-over-view></app-python-over-view>