<div class="jombotron">
	<h3>Phone Case for Google Pixel3</h3>
	<p>Why buy a $50 phone case when you can print for $1 worth of fillament?</p>
</div>


<div class="jumbotron">
	<h4>SolidWorks files, STL, and TODO files can be found <a href="TODO">here</a></h4>
	<p>I recently switched cell phone carriers and had to upgrade from my super basic LG K8 to the fancy Google Pixel3. After settling on a payment plan I wasn't about to drop an extra $50 on a phone case. After all I didn't learn CAD and buy/assemble a 3D printer to have it sit there.</p>
	<p>I found this great <a href="https://www.youtube.com/watch?v=rBw1ye6Dg80>tutorial">tutorial</a> on desigining your own cell phone cases in SolidWorks and found a <a href="https://grabcad.com/library/google-pixel-3-1">great 3D model of the Pixel 3 itself</a>. With this info and honestly a bit of 'eye-balling' about 3 hrs later I had a finalized 3D model of my customized case.</p>

	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="assets/images/phonecase-front.jpg" style="height: auto; width: 100%" />
			</div>
			<div class="col-md-6">
				<img src="assets/images/phonecase-back.jpg" style="height: auto; width: 100%" />
			</div>
		</div>
	</div>

	<div class="container">
		<h4>But why stop there?</h4>
		<p>Recently I've been wanting to make my phone basically a portable terminal for all my network devices (raspberry Pi, Dev Computer, etc). So after about an hour in SolidWorks I had came to this design for a phone holder. Now using a bluetooth keyboard, my Pixel3, and a app called Termius I can SSH into any of my system from anywhere!</p>
		<div class="row">
			<div class="col-md-6">
				<img src="assets/images/phonecase-holder.jpg" style="height: auto; width: 100%" />
			</div>
			<div class="col-md-6">
				<img src="assets/images/phonecase-terminal2.jpg" style="height: auto; width: 100%" />
			</div>
		</div>
		<p>O.K. to be honest I'm no GD&T expert, but I know my printer pretty well and again i just kinda 'eyeballed' the dimensions, but once it came off the printer I couldn't believe how well it fit. It really almost snapps together with the case and hold it quite nicely!</p>
	</div>

</div>
