<div class="jumbotron">
    <a href='https://github.com/rvariverpirate/RVA_RiverPirate_Site/raw/master/src/assets/download/joseph_s_cannella_resume.pdf' class="btn btn-primary btn-lg">Download Resume</a>
</div>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Education Backround</h1>
                <p>As an undergrad student I gained a Bachelors Degree in 
                    Mechaniical and Nuclear Engineering from Virginia Commonwealth University.
                    While I found the subjects fastenating I later accuired an interest in electronics,
                     embedded systems, and software which let me to pursue a
                     Masters in Computer Science from Old Dominion University.
                </p>
              </div>
        </div>
        <div class="row">
            <h1>Career Background</h1>
        </div>
        <div class="row">
            <h2>Maxx Potential</h2>
            <p>During my last semester I was fortunate enough to land a job at a local tech start up
                called <a>Maxx Potential</a>. The company offers a free one week coding bootcamp
                which introduced applicants to key web development skills including HTML, CSS, Javascript,
                and SQL. After, receinve an offer for full time employment I spent about seven months working 
                with a small team to develop web applications uing the Laravel PHP framework.
            </p>
        </div>
        <div class=row>
            <h2>Department of Defense</h2>
            <p>I spent 5 years in R&D as a mechanical engineer for the Department of Defense.
                I can't list the specifics but my work typically involved CAD Design, FEA, 
                rapid fab design and 3D printing. Gradually, I was able to transition into an
                electrical and software engineering roll where I was taked with PCB design, programing embeded systems,
                computer vision, and creating signal processing applications.
            </p>
        </div>
        <div class=row>
            <h2>Vectrus</h2>
            <p>
                Currently I work as a Software Engineer Vectrus. My role is 
                esentially a full stack developer utilizing Angular, Javascript,
                C#, HTML, and a bit of SQL.
            </p>
        </div>
    </div>
</div>