<div class="jumbotron">
	<h3>3D Printed Trophy from the Cannella-Stowers Annual Das Boot Championchip</h3>
	<p>Every super bowl my brother-in-law and I have a competition to see who can drink the boot the fastest. This year I decided to create a commemorative Das Boot Trophy in SolidWorks</p>
</div>

<div class="jumbotron">
	<h3></h3>
	<p>This trophy was heavilly based on a <a href="https://www.youtube.com/watch?v=a7Mp5xtD6gA">this soldiworks tutorial</a>. It took about 27 hrs to print with conservative setting on the Ender3 3D printer and just barely fit onto the build platform.</p>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<img src="assets/images/dasboot1.jpg" style="height:auto; max-width: 100%"/>
			</div>
		</div>
		<p>The SolidWorks Files for this object are available on thingiverse <a href="TODO">here</a>.</p>
		<div class="row">
			<div class="col-md-12">
				<img src="assets/images/dasboot2.jpg" style="height: auto; max-width: 100%"/>
			</div>
		</div>
	</div>
</div>
